/* spa-app: release */
html, body {
    width: 720px;
    height: 576px;
    overflow: hidden;
    margin: 0;
    padding: 0; }

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0; }
    table td {
        padding: 0; }

.maxh {
    height: 100%; }

.maxw {
    width: 100%; }

a {
    text-decoration: none; }

/* stb-app: release */
html, body {
    width: 720px;
    height: 576px;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    -webkit-user-select: none; }
